nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href="/") 
      i.bi.bi-pen.me-2
      | Welog
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav.me-auto
        li.nav-item
          a.nav-link(href="/") Home
        //- if user
        //-   li.nav-item
        //-     a.nav-link(href="/dashboard") Dashboard
      .d-flex
        if user
          .dropdown
            button.btn.btn-outline-light.dropdown-toggle(
              type="button",
              data-bs-toggle="dropdown"
            ) 
              img.rounded-circle.me-2(src=`/img/users/${user.photo}`, width="30")
              | #{user.name.split(' ')[0]}
            ul.dropdown-menu.dropdown-menu-end
              li
                a.dropdown-item(href="/me") Profile
              li
                a#logout.dropdown-item Logout
        else
          a.btn.btn-outline-light.me-2(href="/login") Login
          a.btn.btn-primary(href="/signup") Sign Up