// Base template
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welog | #{title}
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")

  body 
    //- Include navbar
    include ../partials/_navbar

    //- Flash messages (e.g., success/error alerts)
    //- include ../partials/_flash

    //- Main content
    block content

    //- Include footer
    //- include ../partials/_footer

    //- Scripts
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js")
    //- script(src="/js/main.js")
    //- script(src="/js/login.js")
    script(src="/js/bundle.js")