extends layouts/main


block content
  main.main
    h1 ERROR
    h2 #{msg}
    //- .error
    //-   .error__title
    //-     h2 Uh oh! Something went wrong!   
    //-     h2 😢 🤯
    //-   .error__msg= msg